apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ .Values.cronJob.name }}
  namespace: {{ .Release.Namespace }}
{{ include "linkerd-cert-exp-check.labels" . | indent 2 }}
spec:
  schedule: {{ .Values.cronJob.schedule | quote }}
  concurrencyPolicy: Forbid
  successfulJobsHistoryLimit: {{ .Values.cronJob.successfulJobsHistoryLimit }}
  failedJobsHistoryLimit: {{ .Values.cronJob.failedJobsHistoryLimit }}
  jobTemplate:
    spec:
      template:
        spec:
          serviceAccountName: {{ .Values.serviceAccount.name }}
          containers:
          - name: cert-exp-check
            image: {{ .Values.cronJob.image.repository }}/{{ .Values.cronJob.image.name }}:{{ .Values.cronJob.image.tag }}
            imagePullPolicy: {{ .Values.cronJob.image.pullPolicy }}
            env:
            - name: KUBECTL_VERSION
              value: {{ .Values.cronJob.env.k8sVersion}}
            - name: LINKERD_NAMESPACE
              value: {{ .Values.linkerd.namespace | quote }}
            - name: THRESHOLD
              value: {{ .Values.cronJob.env.threshold }}
            - name: AWS_REGION
              value: {{ .Values.cronJob.sns.awsRegion | quote }}
            - name: TOPIC_ARN
              value: {{ .Values.cronJob.sns.topicArn | quote }}
            - name: SUBJECT
              value: {{ .Values.cronJob.sns.subject | quote }}
            - name: MESSAGE
              value: {{ .Values.cronJob.sns.message | quote }}
          restartPolicy: {{ .Values.cronJob.restartPolicy }}