apiVersion: v1
kind: ServiceAccount
metadata:
  annotations:
    eks.amazonaws.com/role-arn: {{ .Values.serviceAccount.roleArn | quote }}
    eks.amazonaws.com/sts-regional-endpoints: {{ .Values.serviceAccount.stsRegionalEndpoints | quote }}
{{ include "linkerd-cert-exp-check.labels" . | indent 2 }}
  name: {{ .Values.serviceAccount.name }}
  namespace: {{ .Release.Namespace }}